$primary-color: #3ec4e3 !important;
$secondary-color: #797979;

.no-plate{
	border: 1px dotted $secondary-color !important;
	color: $secondary-color;
	font-size: .8rem;
	justify-content: center;
}

.add-vehicle,
.list-vehicle{
	.title{
		font-size: .8rem;
		font-weight: 700;
	}
}

.add-vehicle{
	margin-top: 120px;
	margin-bottom: 50px;
	border-bottom: 1px solid #dedede;
	padding-bottom: 30px;

	.car-license-plate{

		.plate{
			padding: 25px 10px;
			border: 1px solid $primary-color;
		}

		.btn{
			background-color: $primary-color;
			color: #fff;
		}
	}
}

.list-vehicle{
	.list-group-item{
		display: flex;
		justify-content: space-between;
		align-items: center;
		
		svg{
			transition: 500ms all ease;
			font-size: 24px;
			cursor: pointer;
			color: red;
			border-radius: 100px;

			&:hover{
				animation: explode 1s infinite
			}
		}
	}
}

@keyframes explode {
  0% { box-shadow: 0 0 0 0 rgba(red, 1);}
  70% { box-shadow: 0 0 0 5px rgba(red, 0);}
  100% { box-shadow: 0 0 0 0 rgba(red, 0);}
}