$primary-color: #3ec4e3 !important;
$link-color: #00CDE4;
$title-color: #797979;

.header{
	nav{
		background-color: $primary-color;
		
		.navbar-toggler{
			border: 1px solid #fff;
		}
	}
}

.submenu{
	span{
		padding: 10px 15px;
		display: inline-block;
		text-decoration: none;
		color: $link-color;
		transition: 500ms all ease;
		cursor: pointer;

		&:hover{
			color: $title-color;
		}

		svg{
			margin-right: 5px;
		}
	}
}